// main.scss
// main.scss

// Colors & backgrounds
@use "variables/colors" as *;

// Fonts & typography
@use "variables/fonts" as *;

// Spacing
@use "variables/spacing" as *;

// Borders
@use "variables/borders" as *;

// Shadows
@use "variables/shadow" as *;

// Transitions
@use "variables/transition" as *;

// Z-index
@use "variables/zindex" as *;

@use "variables/menu";


.red{
    color: $primary;
}
.footer-menu .page_item{
list-style: none;
    a{
    text-decoration-line: none;
    color:$white;
}
}



// Container for menu links
.navbar-nav.links {
  display: none;
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 0;
  left: -70vw;
  z-index: $z-dropdown;
  align-content: center;
  background-image: linear-gradient(
    230deg,
    $white 40%,
    rgba(255, 255, 255, 0.84) 20% 60%,
    $white 60%
  );
  animation: moveTo 0.4s ease 0s 1 forwards alternate;
  padding-top: $space-xl; // adjust if needed
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  transition: left $transition-medium, opacity $transition-medium;
}

// Show menu when toggled (checkbox hack)
#bar:checked ~ .menu .links {
  display: flex;
  left: 0;
  opacity: 1;
}

// Menu items
.navbar-nav.links li {
  margin: 3vh 0;
  width: 100px;
  list-style: none;
}

.navbar-nav.links li a {
  display: block;
  font-size: $font-lg;
  font-weight: $fw-normal;
  margin-left: 35%;
  transition: all $transition-fast;
  text-decoration: none;
  color: $text-primary;
}

.navbar-nav.links li a:hover {
  margin-left: 65%;
  font-weight: $fw-bold;
  color: $primary;
}

// Hamburger icon
.menu-icon {
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  z-index: $z-modal;
}

// Animation keyframes
@keyframes moveTo {
  from {
    left: -70vw;
  }
  to {
    left: 0;
  }
}


.hhhhhhhhh{
    color: $primary;
}
