// main.scss
// main.scss

// Colors & backgrounds
@use "variables/colors" as *;

// Fonts & typography
@use "variables/fonts" as *;

// Spacing
@use "variables/spacing" as *;

// Borders
@use "variables/borders" as *;

// Shadows
@use "variables/shadow" as *;

// Transitions
@use "variables/transition" as *;

// Z-index
@use "variables/zindex" as *;

@use "variables/menu";


.red{
    color: $primary;
}
.footer-menu .page_item{
list-style: none;
    a{
    text-decoration-line: none;
    color:$white;
}
}


//Menu
.navbar-nav .menu-item{
    list-style: none;
    padding: $space-md $space-lg;
    a{
        text-decoration-line: none;
        color:$black;
    }
}

